<p ayoub title="toto">
    login works!
</p>

<todos>
    <todo [id]="1" title="ayoub" body="sdfgkljsdf"></todo>
    <todo [id]="2" title="fdjhkjhjsd" body="sdfgkljsdf"></todo>
    <todo [id]="3" title="fdjhkjhjsd" body="sdfgkljsdf"></todo>
    <todo [id]="5" title="fdjhkjhjsd" body="sdfgkljsdf"></todo>
    <todo [id]="6" title="fdjhkjhjsd" body="sdfgkljsdf"></todo>
    <todo [id]="7" title="fdjhkjhjsd" body="sdfgkljsdf"></todo>
    <todo [id]="8" title="fdjhkjhjsd" body="sdfgkljsdf"></todo>
    <todo [id]="9" title="fdjhkjhjsd" body="sdfgkljsdf"></todo>
</todos>